# TheCatAPI key — el usuario la setea localmente, NO subir el .env real
CAT_API_URL=https://api.thecatapi.com/v1
CAT_API_KEY=your_thecatapi_key_here

# MongoDB
MONGO_URI=mongodb://mongo:27017/cat-breeds

# Auth
JWT_SECRET=change_me_in_local_env
JWT_EXPIRES_IN=1d

# Backend
PORT=3000
